<h1><%= @article.title %></h1>
<p> <%= @article.content %></p>

<%= link_to "Edit this article", edit_article_path %>

<%= link_to "Delete this article", article_path, method: :delete, data: {confirm: "Are you sure?"} %>

<%= link_to "Go back to articles", root_path %>
